VITE_SUPABASE_URL=https://xkokecfvexwkzuxtxspe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhrb2tlY2Z2ZXh3a3p1eHR4c3BlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NjQ1NjgsImV4cCI6MjA4OTM0MDU2OH0.e7ev6tHiFvio68JMoO0WlNMhdhm_NimR3IWoRN_V7TM
